body{
  background-color:#EAF6F6;
}
.mainh{
  border :2px solid grey;
  border-radius:12px;
  font-size: 30px;
  width: 80%;
}
.sml{
  width:5%;
}
.rad{
  border-radius:100%;
}
form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
  
}

label {
    padding-right: 10px;
}
